<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="x-project/x-project.html">

<dom-module id="app-feed">
  <template>
    <style>
      :host {
        display: block;
        margin: 16px;
      }
    </style>

    <template is="dom-repeat" items="[[getNotifications(state.notifications.*)]]">
      <x-project project="[[item]]" state="[[state]]" state-provider="[[stateProvider]]"></x-project>
    </template>
  </template>
</dom-module>
<script src="../../node_modules/moment/moment.js"></script>
<script src="app-feed.js"></script>
