<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../vendor/x-router/x-routable.html">
<link rel="import" href="../state-provider/state-provider.html">
<link rel="import" href="x-project/x-project.html">

<dom-module id="app-feed">
  <template>
    <style>
      :host {
        display: block;
        margin: 16px;
      }
    </style>
    <state-provider id="state-provider" foo="[[foo]]" state="{{state}}"></state-provider>
    <template is="dom-repeat" items="[[getNotifications(state.notifications.*)]]">
      <x-project project="[[item]]" router="[[router]]"></x-project>
    </template>
  </template>
</dom-module>
<script src="../../node_modules/moment/moment.js"></script>
<script src="app-feed.js"></script>
